<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Plane Range Map</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-git2.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="angularRoutes.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
	<script src="planes.js"></script>
	<script src="controller.js"></script>
</head>
<body ng-controller="myController">
	<div class="row">
		<div class="col-xs-12">
			<div class="callout-image text-center" ng-view>

			</div>
		</div>
	</div>
	<div class="heading row">
		<div class="col-xs-12">
			<h2>Range Map</h2>
			<h3>Textron Aviation: Citation Business Jets</h3>
			
			<input id="address" type="textbox" ng-model="address">
	      	<button  ng-click="geocodeAddress()"id="submit" type="button">Set Departure Location</button>
		</div>
	</div>

	<div class="main-content row">
		
		<div class="col-xs-4">
			
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
							<a  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								Citation Mustang
							</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<div ng-click="mustang()"class="dropdown">
							  <button disabled ng-click="planeSelector()"id="one" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    Passengers
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dLabel">
							    <li ng-repeat="plane in planes"><button ng-click="range($index)">{{plane.passenger}}</button></li>    
							  </ul>
							  <div class="range">
							  	<p>Range: {{range}}nm</p>
							  </div>
							  <div class="pilots">
							  	<span><input class="pilot"type="radio" name="pilots" checked="checked" value="1">1 Pilot</span>
							  	<span><input type="radio" class="pilot" name="pilots" value="2">2 Pilots</span>
							  </div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								Citation M2
							</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							<div ng-click="m2Page()"class="dropdown">
							  <button disabled ng-click="planeSelector()"id="two" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    Passengers
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dLabel">
							    <li ng-repeat="plane in planes"><button ng-click="range($index)">{{plane.passenger}}</button></li>    
							  </ul>
							  <div class="range">
							  	<p>Range: {{flightRange}}nm</p>
							  </div>
							  <div class="pilots">
							  	<span><input class="pilot"type="radio" name="pilots" checked="checked" value="3">1 Pilot</span>
							  	<span><input type="radio" class="pilot" name="pilots" value="4">2 Pilots</span>
							  </div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								Citation Alpine Edition
							</a>
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body">
							<div ng-click="alpine()" class="dropdown">
							  <button disabled ng-click="planeSelector()"id="three" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    Passengers
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dLabel">
							    <li ng-repeat="plane in planes"><button ng-click="range($index)">{{plane.passenger}}</button></li>    
							  </ul>
							  <div class="range">
							  	<p>Range: {{flightRange}}nm</p>
							  </div>
							  <div class="pilots">
							  	<span><input class="pilot"type="radio" name="pilots" checked="checked" value="5">1 Pilot</span>
							  	<span><input type="radio" class="pilot" name="pilots" value="6">2 Pilots</span>
							  </div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFour">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								Citation CJ3
							</a>
						</h4>
					</div>
					<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
						<div class="panel-body">
							<div ng-click="cj3Page()" class="dropdown">
							  <button disabled ng-click="planeSelector()"id="four" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    Passengers
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dLabel">
							    <li ng-repeat="plane in planes"><button ng-click="range($index)">{{plane.passenger}}</button></li>    
							  </ul>
							  <div class="range">
							  	<p>Range: {{flightRange}}nm</p>
							  </div>
							  <div class="pilots">
							  	<span><input class="pilot"type="radio" name="pilots" checked="checked" value="7">1 Pilot</span>
							  	<span><input type="radio" class="pilot" name="pilots" value="8">2 Pilots</span>
							  </div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFive">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
								Citation CJ4
							</a>
						</h4>
					</div>
					<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
						<div class="panel-body">
							Test 5
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingSix">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
								Citation XLS+
							</a>
						</h4>
					</div>
					<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
						<div class="panel-body">
							Test 6
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingSeven">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
								Citation Sovereign+
							</a>
						</h4>
					</div>
					<div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
						<div class="panel-body">
							Test 7
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingEight">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
								Citation X+
							</a>
						</h4>
					</div>
					<div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
						<div class="panel-body">
							Test 8
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingNine">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
								Citation Latitude
							</a>
						</h4>
					</div>
					<div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
						<div class="panel-body">
							Test 9
						</div>
					</div>
				</div>



			</div>
		</div>
		<div id="map" class="col-xs-8"></div>
	</div>
</body>
</html>